@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: sans-serif, 'AppleSDGothicNeo', 'Noto Sans KR';
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
  }

  button {
    cursor: pointer;
    &:hover {
      background: rgb(69, 142, 245);
      transition: ease-in-out 200ms;
    }
  }
}
